.square{
 border: 3px solid black;
 width: 10px;
 height: 10px;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 256px;
}

.activatedSquare{
    background-color: black;
}